<div id="books">
  <input type="text" class="search u-full-width" placeholder="Search book"/>
  <table class="u-full-width">
    <thead>
    <tr>
      {{{headers}}}
    </tr>
    </thead>
    <tbody class="list">
    </tbody>
  </table>
</div>