<div id="books">
  <table class="u-full-width">
    <thead>
      <tr>
        <th class="sort" data-sort="title">Title</th>
        <th class="sort" data-sort="creator">Creator</th>
        <th class="sort" data-sort="description">Description</th>
        <th colspan="1">
          <input type="text" class="search" placeholder="Search book" />
        </th>
      </tr>
    </thead>
    <tbody class="list">
    </tbody>
  </table>
</div>